.background-gradient, .x-label, .app-background, .x-conture, .text-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;

  position: absolute;

  opacity: 0;

  transition: opacity .5s;
}

.app-background {
  background-color: #080aa0;
}

.show-element {
  opacity: 1;
}

.background-gradient {
  background-image: url('../assets/radial.png');
}

.x-label {
  background-image: url('../assets/x.png');
}

.x-conture {
  background-image: url('../assets/x-conture.png');
}

.text-info {
  background-image: url('../assets/text.png');
  background-size: contain;
}
